{% extends "base.html" %}
{% block header %}
<body style="background-color:#FFFFE0">
<div style="padding:10px">
<div style="width:20%;background:#75A9FF;text-align:center" class="alert alert-dark" role="alert">Details</div>
</div>
{% endblock header %}

{% block content %}

<div style="padding:10px">Title:</div>
<div style="padding:10px">
<div style="width:50%" class="alert alert-success" role="alert">
    {{object.title}}
</div>
</div>

<div style="padding:10px">Memo:</div>
<div style="padding:10px">
<div style="width:50%" class="alert alert-success" role="alert">
    {{object.memo}}
</div>
</div>
<div style="padding:10px">
 <a href="{% url 'list' %}" class="btn btn-info" tabindex="-1" role="button" aria-disabled="true">
     Back to my list
 </a>
</div>

</body>
{% endblock content %}
